{% extends 'main/base.html' %}
{% load static %}
{% block title %}
White prince | About |
{% endblock %}
{% block content-main %}
    <div class="container">
        <p class="img-text">
            <img class="img-about" src="{% static 'img/Ava.jpg' %}" alt="White-prince">
            I'm Andrey Alekseev, I've been programming since I was 12 years old.<br>
            For a long time (4 years) I was on self-study and studied html, css and js.<br>
            At the age of 16, he began to study python.<br>
            This language interested me, now I have been studying Python for 2 years.<br>
            Now I am writing custom projects for a growing company.<br>
            I love to read books, run, listen to music, study, draw, take pictures.<br>
            <br>
            · I want to develop artificial intelligence and my own framework.<br>
            <br>
            · My dream is to develop a project (program) that everyone will use.<br>
            <br>
            Below is the exact information ↓ <br>
        </p>
        <p class="prename">My skills</p>
        <div class="container-about-me">
            <div class="card">
               <div class="face face1">
                 <div class="content">
                   <i class="fab fa-apple"></i>
                    <h3>Development</h3>
                 </div>
               </div>
               <div class="face face2">
                 <div class="content">
                   <p>|■■■■■■■■--|<br>8/10</p>
                 </div>
               </div>
            </div>
            <div class="card">
                <div class="face face1">
                  <div class="content">
                    <i class="fab fa-apple"></i>
                     <h3>Design</h3>
                  </div>
                </div>
                <div class="face face2">
                  <div class="content">
                    <p>|■■■■■-----|<br>5/10</p>
                  </div>
                </div>
             </div>
             <div class="card">
                <div class="face face1">
                  <div class="content">
                    <i class="fab fa-apple"></i>
                     <h3>Marketing</h3>
                  </div>
                </div>
                <div class="face face2">
                  <div class="content">
                    <p>|■■■■■■----|<br>6/10</p>
                  </div>
                </div>
             </div>
          </div>
        <p class="prename">My interests</p>
        <div class="container-about-me">
            <div class="card">
               <div class="face face1">
                 <div class="content">
                   <i class="fab fa-apple"></i>
                    <h3>Reading</h3>
                 </div>
               </div>
               <div class="face face2">
                 <div class="content">
                   <p>Jason Schreier: "Blood, Sweat, and Pixels"<br>Robert Kiyosaki: "Rich dad poor dad"<br>Petzold Charles: "Code"</p>
                 </div>
               </div>
            </div>
            <div class="card">
                <div class="face face1">
                  <div class="content">
                    <i class="fab fa-apple"></i>
                     <h3>Sport</h3>
                  </div>
                </div>
                <div class="face face2">
                  <div class="content">
                    <p>I run once every two days<br>Usually: Monday, Wednesday, Friday</p>
                  </div>
                </div>
             </div>
             <div class="card">
                <div class="face face1">
                  <div class="content">
                    <i class="fab fa-apple"></i>
                     <h3>Music</h3>
                  </div>
                </div>
                <div class="face face2">
                  <div class="content">
                    <p>
                    My favourite genre:<br>
                    "Electropop"
                    <br>
                    My favorite performers:<br>
                    "Twenty One Pilots"
                    "Lil Peep"
                    <br>
                    My favorite tracks:<br>
                    "Stressed Out"
                    "Star Shopping"
                    <br>
                    </p>
                  </div>
                </div>
             </div>
          </div>
    </div>
{% endblock %}