{% extends 'main/base.html' %}
{% load static %}
{% block title %}
White prince | About |
{% endblock %}
{% block content %}
    <div class="container">
        <p class="img-text">
            <img class="img-about" src="{% static 'img/Ava.jpg' %}" alt="White-prince">
            I'm Andrey Alekseev, I've been programming since I was 12 years old.<br>
            For a long time (4 years) I was on self-study and studied html, css and js.<br>
            At the age of 16, he began to study python.<br>
            This language interested me, now I have been studying Python for 2 years.<br>
            Now I am writing custom projects for a growing company.<br>
            <br>
            · I want to develop artificial intelligence and my own framework.<br>
            <br>
            · My dream is to develop a project (program) that everyone will use.
        </p>
    </div>
    
{% endblock %}