{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <link href="{% static 'img/favicon.png' %}" rel="shortcut icon" type="image/png" />
        <script src="{% static 'js/preloader.js' %}"></script>
    </head>
<body>
    <div class="preloader">
        <div class="preloader__row">
          <div class="preloader__item"></div>
          <div class="preloader__item"></div>
        </div>
      </div>
    <nav>
        <ul>
            <li><a class="lin" href="{% url 'homepage' %}">Work</a>
                <ul>
                    <li><a class="link" href="{% url 'vedmenkoproduction' %}">Vedmenko production</a></li>
                    <li><a class="link" href="{% url 'vedmenkotelegrambot' %}">Telegram bot assistant</a></li>
                    <li><a class="link" href="{% url 'vedmenkovkbot' %}">Vk bot assistant</a></li>
                    <li><a class="link" href="{% url 'fearlessvikingz' %}">Fearless vikingz</a></li>
                    <li><a class="link" href="{% url 'smartassistant' %}">Vk bot assistant</a></li>
                </ul>
            </li>
            <li><a class="lin" href="{% url 'about' %}">About</a></li>
            <li><a class="lin" href="{% url 'blog' %}">Blog</a></li>
            <li><a class="lin" href="{% url 'contact' %}">Contact</a></li>
            <a href="{% url 'homepage' %}"><img class="logo" src="{% static 'img/favicon.png' %}" alt="White-prince_logo"></a>
            <a href="https://github.com/White-prince"><img class="git" src="{% static 'img/logogit.png' %}" alt="gotlogo"></a>
        </ul>
    </nav>
    {% block content-main %}
    {% endblock %}
    <footer>
        <p>&copy; 2022. All Rights Reserved. Design by <a class="link" href="https://github.com/White-prince">White-prince</a></p>
    </footer>
</body>
</html>