{% extends 'main/base.html' %}
{% load static %}
{% block title %}
White prince | Contact |
{% endblock %}
{% block content-main %}
<div class="container"> 
    <p class="container-nain-text">Send a message to my E-mail</p>  
    <div class="container-form">
        <form method="post">
            {% csrf_token %}
            <p><input class="inp" id="id_subject" type="text" name="name" placeholder="Name" maxlength="100" required /></p>
            <p><input class="inp" type="text" name="sender" placeholder="E-mail" id="id_sender" required /></p>
            <p><input class="inp" name="message" id="id_message" placeholder="Message" maxlength="100" required /></p>
            <input class="button" type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}