{% extends 'main/base.html' %}
{% load static %}
{% block title %}
White prince | Contact |
{% endblock %}
{% block content %}
<div class="container">
    
</div>
    <div class="container-about-me">
        <div class="card">
           <div class="face face1">
             <div class="content">
               <i class="fab fa-apple"></i>
                <h3>Vk</h3>
             </div>
           </div>
           <div class="face face2">
             <div class="content">
               <p></p>
             </div>
           </div>
        </div>
        <div class="card">
            <div class="face face1">
              <div class="content">
                <i class="fab fa-apple"></i>
                 <h3>Telegram</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <p> </p>
              </div>
            </div>
         </div>
         <div class="card">
            <div class="face face1">
              <div class="content">
                <i class="fab fa-apple"></i>
                 <h3>Twitter</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <p> </p>
              </div>
            </div>
         </div>
    </div>
{% endblock %}