{% extends 'main/base.html' %}
{% load static %}
{% block title %}
White prince | Fearless vikingz |
{% endblock %}
{% block content-main %}
<div class="container">
    <p class="container-nain-text">Fearless vikingz</p> 
    <p class="text-in-ditails"><span class="text-in-ditails-title">Fearless vikingz</span> - my first business project, my partner and I picked up the NFT theme and decided to create our own NFT collection.</p>
    <p class="text-in-ditails">But for this project, we did not have enough start-up capital and we had to sell it.</p>
    <p class="text-in-ditails">Examples of nft screenshot from the site:</p>
    <img style="margin-top: 20px; margin-bottom: 20px; display: flex;" src="{% static 'img/fv_n.png' %}" alt="Fearless_vikingz_nfts">
    <p class="text-in-ditails">This site was made in 10 days. Not the most difficult project, but my designer decided to make a long background gradient, which was a bad decision. Never do this a) you will adjust the site to the background b) it is impossible to fully adapt to mobile devices.</p>
    <a href="https://fearless-vikingz.ru/"><img style="margin-top: 100px;" class="container-work-img-in-disc" src="{% static 'img/Preview.jpg' %}" alt="Fearless_vikingz"></a>
</div>
{% endblock %}