{% extends 'main/base.html' %}
{% load static %}
{% block title %}
White prince | Smart assistant |
{% endblock %}
{% block content-main %}
<div class="container">
    <p class="container-nain-text">Smart assistant</p> 
    <p class="text-in-ditails"><span class="text-in-ditails-title">Smart assistant</span> - voice assistant, was written as a pet project, I wrote it from an article, but over time it will be improved, I have a lot of ideas for it.</p>
    <img style="margin-top: 100px;" class="container-work-img-in-disc" src="{% static 'img/voice-assistant-preview.png' %}" alt="Vedmenko">
</div>
{% endblock %}