{% extends 'main/base.html' %}
{% load static %}
{% block title %}
White prince | Vedmenko vk bot |
{% endblock %}
{% block content-main %}
<div class="container">
    <p class="container-nain-text">Vedmenko Vk bot</p> 
    <p class="text-in-ditails"><span class="text-in-ditails-title">Vedmenko Vk bot</span> - Bot for explaining information to users</p>
    <p class="text-in-ditails">Bot features:
    <p class="text-in-ditails">Explanation of general information about the company vedmenko production.</p>
    <p class="text-in-ditails">Opportunity to ask a question to the administration.</p>
    <p class="text-in-ditails">Find out information about the company's services</p>
    <p class="text-in-ditails">Go to company website</p>
    <p class="text-in-ditails">Support the developer</p>
    <p class="text-in-ditails">Report a bug to the developer</p>
    <a href="https://vk.com/im?peers=173925827_625762220&sel=-160010948"><img style="margin-top: 100px; display: flex;"  src="{% static 'img/vk_preview.png' %}" alt="Vedmenko"></a>
</div>
{% endblock %}