{% extends 'main/base.html' %}
{% load static %}
{% block title %}
White prince | Vedmenko production |
{% endblock %}
{% block content-main %}
    <div class="container">
        <p class="container-nain-text">Vedmenko production</p>  
        <p class="text-in-ditails"><span class="text-in-ditails-title">Vedmenko Production</span> - is a young, promising Video production. Our team makes creative and high-quality photo and video content that popularizes your brand, attracts a large number of customers and gives a lot of positive emotions from the finished product.</p>
        <p style="padding-bottom: 50px;" class="text-in-ditails">I knew each of this team personally. And I could not even think that these guys would combine their knowledge and implement such a global project. First, they asked me to create a website for them, and then they asked me to join their membership.</p>
        <p class="text-in-ditails">The creation of the site started, not so quickly, because the designer we asked to draw this site was very creative and did his job diligently.</p>
        <p class="text-in-ditails">I waited for the first template for almost a week. And so I broke into work and at that moment I thought: "With such a speed we will not finish even in 6 months!" and invited his friend to do this work together (He was remotely familiar with the layout, but decided to try).</p>
        <p class="text-in-ditails">But my partner was impatient and soon left the work area, but I was not upset with him. And I had to sit down to finish the job myself. The first thing I had to do was open the part of the code that my colleague wrote. When I went there, I first realized how hard it is to understand someone else's code.</p>
        <p class="text-in-ditails">After all, before that I had never come across the work of other people. And I had to rewrite everything. It took not a small amount of time and now the second week has come. 2 pages were completed. There was no time limit on this order, but I really wanted to finish it as quickly as possible due to the amount of problems I encountered.
        <p class="text-in-ditails">I took matters into my own hands and began to write, did all the layout and sent it for confirmation.</p>
        <p class="text-in-ditails">The customer asked for some changes. There were not many edits, but I had to sweat. And now the layout is ready, the customer approved.</p>
        <p class="text-in-ditails">I started writing the backend. My task was to write a function to send the form to the mail.</p>
        <p class="text-in-ditails">I opened the Django documentation and began to read, I did not understand from the first reading.</p>
        <p class="text-in-ditails">I opened the articles, read them, did everything as described in them, and something is already being written to the console, I thought that I was on the right track, went further, registered an account in mailgun, entered all the data and it worked, but not for long.</p>
        <p class="text-in-ditails">I thought something was wrong and came to the conclusion that I posted my secret keys on the git and they blocked me. And so it was.</p>
        <p class="text-in-ditails">I had to change my account and that's it.</p>
        <p class="text-in-ditails">Finally completed the job within a month. Although it could be done in a week.</p>
        <a href="https://vedmenkoprod.ru/"><img style="margin-top: 100px;" class="container-work-img-in-disc" src="{% static 'img/pr.png' %}" alt="Vedmenko"></a>
    </div>
{% endblock %}