*, :after, :before{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Vaaksy_Round';
    src: url('fonts/Vaaksy_Round.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
body, html{
    font-family: Vaaksy_Round;
    color: #fff;
    background-color: #111111;
}
@media screen and (max-width: 2560px) { 
  .loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  nav{
    z-index: 100;
    width: 100%;
    height: 120px;
    float: left; 
    position: fixed;
    background-color: #111111;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: -30px;
  }
  nav ul{
    list-style: none;
    position: relative;
  }
  nav ul li{
    margin-top: 55px;
    padding-bottom: 1px;
    padding-right: 25px;
    display:inline-block;
  }
  nav .link {
    display:block;
    color: #fff;
    text-decoration:none;
  }
  nav .lin:hover {
    transition: 0.10s;
    padding-bottom: 1px;
    border-bottom: solid 3px #5265f6;
  }
  nav .link:hover {
    transition: 0.10s;
    color: #5265f6;
  }
  nav ul ul {
    display: none;
    position: absolute;
    background-color: #212121;
    border-radius: 10%;
    width: 300px;
    height: 470px;
    padding-left: 20px;
  }
  nav ul li:hover > ul {
    display:inherit;
    margin: 40px 0px -60px -80px;
    transition: 5s;
  }
  nav ul ul li {
    float:none;
    display:list-item;
    position: relative;
  }
  .link{
    font-size: 24px;
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
  .lin{
    font-size: 32px;
    user-select: none;
    text-decoration: none;
    color: #fff;
  }
  .link:hover {
    transition: 0.10s;
    color: #5265f6;
  }
  .git{
    width: 60px;
    height: 60px;
  }
  .git:hover{
    transition: 0.3s;
    opacity: 50%; 
  }
  .lin-logo-git{
    display: flex;
    align-items: rigth;
    justify-content: right;
    margin-top: -75px;
  }
  .logo{
    width: 90px;
    height: 90px;
  }
  .lin-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
  }
  .container{
    width: 100%;
    padding-top: 300px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .container-blog{
    width: 100%;
    padding-top: 300px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .main-text-name{
    padding-left: 400px;
    font-size: 72px;
    line-height: 100px;
    animation-duration: 2.5s;
    animation-name: paint;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes paint {
    from{
      color: #fff;
    }
    to{
      color: #5265f6;
    }
  }
  .main-text-dis{
    padding-left: 400px;
    font-size: 24px;
    padding-top: 15px;
  }
  .logo-big{
    border-radius: 50px;
    position: absolute;
    width: 500px;
    height: 500px;
    float: right;
    right: 700px;
    top: 180px;
  }
  .container-work{
    padding-top: 450px;
    padding-left: 400px;
    padding-right: 400px;
  }
  .container-work-new{
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 400px;
  }
  .container-work-object{
    background-color: #212121;
    width: 100%;
    height: 800px;
    text-align: right;
    transition: 0.5s;
    border-radius: 20px;
  }
  .container-work-object img{ 
    width: 100%;
    margin-top: 20px;
    transition: 0.5s;
    border-radius: 20px;
  }
  .container-work-object:hover img{
    transition: 0.5s;
    transform: translate(0,-10px);
  }
  .container-work-object:hover{
    transition: 0.5s;
    display: inline-block;
    box-shadow: 0 14px 30px rgba(0,0,0,5), 0 10px 10px rgba(0,0,0,0.25);
    transform: translate(0,-5px);
  
  }
  .container-work-object-about{
    padding-top: 30px;
    padding-right: 50px;
    color: gray;
    font-size: 24px;
  }
  .container-work-object-text{
    padding-top: 20px;
    padding-right: 50px;
    color: #fff;
    font-size: 30px;
  }
  .container-work-img{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
    height: 600px;
    border-radius: 20px;
  }
  .container-work-img-in-disc{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-left: 400px;
    padding-right: 400px;
    width: 100%;
    margin-bottom: 100px;
    border-radius: 20px;
  }
  .container-work-img-in-disc-goriz{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-left: 200px;
    padding-right: 200px;
    width: 70%;
    border-radius: 20px;
  }
  .example-shadow-3 {
    background: #e8e8e8;
    text-align: center;
  }
  /*
  About
  */
  .img-about{
    width: 400px;
    height: 600px;
    border-radius: 50px;
    margin-left: 600px;
    margin-right: 50px;
  }
  .img-text{
    display: flex;
    width: 100%;
    font-size: 24px;
    line-height: 40px;
    margin-top: -100px;
  }
  /*Card*/
  .container-about-me{
    margin-top: 100px;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }
  .container-about-me .card{
    position: relative;
  }
  .container-about-me .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
  }
  .container-about-me .card .face.face1{
    position: relative;
    background: #212121;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 20px;
  }
  .container-about-me .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #5265f6,
    inset -20px 0 80px #ffc4ff,
    inset 20px 0 300px #5265f6,
    inset -20px 0 300px #ffc4ff,
    0 0 50px #fff,
    -10px 0 80px #5265f6,
    10px 0 80px #ffc4ff;
  }
  .container-about-me .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
  }
  .container-about-me .card:hover .face.face1 .content{
    opacity: 1;
  }
  .container-about-me .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
  }
  .container-about-me .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
  }
  .container-about-me .card .face.face1 .content a{
    transition: .5s;
  }
  .container-about-me .card .face.face2{
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
    border-radius: 23px;
  }
  .container-about-me .card:hover .face.face2{
    transform: translateY(-16%);
  }
  .container-about-me .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
  }
  .container-about-me .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }
  .container-about-me .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }
  .prename{
    margin-top: 100px;
    margin-left: 500px;
    font-size: 40px;
  }
  .container-block{
    width: 100%;
    display: inline;
  }
  .container-block-iteam{
    float: left;
    width: 400px;
    height: 150px;
    background-color: #212121;
    border-radius: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    font-size: 24px;
  }
  /*blog*/
  .geniral_text{
    margin-top: -100px;
    font-size: 72px;
    text-align: center;
  }
  .article{
    margin-top: 100px;
    text-align: center;
    background-color: #212121;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
  }
  .object{
    font-size: 48px;
    margin-bottom: 10px;
  }
  .text{
    font-size: 32px;
    text-align: left;
  }
  /*content*/
  .container-form{
    margin-bottom: 200px;
  }
  .inp{
    font-family: Vaaksy_Round;
    background-color: #212121;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 64px;
    color: #fff;
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-right: 15px;
    outline: none;
    border: none;
  }
  .button{
    font-family: Vaaksy_Round;
    background-color: #212121;
    font-size: 72px;
    border-radius: 20px;
    margin-top: 100px;
    color: #fff;
    display: flex;
    padding-left: 10px;
    padding-top: 15px;
    transition: .05s linear;
    outline: none;
    border: none;
    transition: 0.5s;
  }
  .button:hover{
    transition: 0.5s;
    box-shadow: 0 14px 30px rgba(0,0,0,5), 0 10px 10px rgba(0,0,0,0.25);
    transform: translate(0,-5px);
  }
  .container-nain-text{
    font-size: 72px;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 200px;
  }
  .icons{
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons img{
    display: inline;
    width: 80px;
    height: 80px;
    margin: 30px;
    transition: 0.5s;
  }
  .icons img:hover{
    transition: 0.5s;
    box-shadow: 0 14px 30px rgba(0,0,0,5), 0 10px 10px rgba(0,0,0,0.25);
    transform: translate(0,-5px);
  }
  .text-in-ditails{
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }
  .text-in-ditails-title{
    animation-duration: 2.5s;
    animation-name: paint;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  /*Footer*/
  footer{
    margin-top: 50px;
    padding-bottom: 1px;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
}
@media screen and (max-width: 1920px) {
nav{
  z-index: 100;
  width: 100%;
  height: 100px;
  float: left; 
  position: fixed;
  background-color: #111111;
  padding-left: 150px;
  padding-right: 150px;
}
nav ul{
  margin-top: 10px;
  list-style: none;
	position: relative;
}
nav ul li{
  margin-top: 45px;
  padding-bottom: 1px;
  padding-right: 25px;
  display:inline-block;
}
nav .link {
  display:block;
  color: #fff;
  text-decoration:none;
}
nav .lin:hover {
  transition: 0.10s;
  padding-bottom: 1px;
  border-bottom: solid 3px #5265f6;
}
nav .link:hover {
  transition: 0.10s;
  color: #5265f6;
}
nav ul ul {
  display: none;
  position: absolute;
  background-color: #212121;
  border-radius: 10%;
  width: 270px;
  height: 380px;
  padding-left: 20px;
}
nav ul li:hover > ul {
  display:inherit;
  margin: 27px 0px -60px -50px;
  transition: 5s;
}
nav ul ul li {
  float:none;
  display:list-item;
  position: relative;
}
.link{
  font-size: 18px;
  user-select: none;
  text-decoration: none;
  color: #fff;
}
.lin{
  font-size: 18px;
  user-select: none;
  text-decoration: none;
  color: #fff;
}
.link:hover {
  transition: 0.10s;
  color: #5265f6;
}
.git{
  width: 40px;
  height: 40px;
}
.git:hover{
  transition: 0.3s;
  opacity: 50%;
}
.logo{
  width: 60px;
  height: 60px;
}
.lin-logo-git{
  margin-top: -53px;
}
.lin-logo{
  margin-top: -47px;
}
.container{
  width: 100%;
  padding-top: 300px;
  padding-left: 150px;
  padding-right: 150px;
}
.container-blog{
  width: 100%;
  padding-top: 300px;
  padding-left: 150px;
  padding-right: 150px;
}
.main-text-name{
  padding-left: 100px;
  font-size: 72px;
  line-height: 100px;
  animation-duration: 2.5s;
  animation-name: paint;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes paint {
  from{
    color: #fff;
  }
  to{
    color: #5265f6;
  }
}
.main-text-dis{
  padding-left: 100px;
  font-size: 24px;
  padding-top: 15px;
}
.logo-big{
  border-radius: 50px;
  position: absolute;
  width: 500px;
  height: 500px;
  float: right;
  right: 300px;
  top: 180px;
}
.container-work{
  padding-top: 450px;
  padding-left: 150px;
  padding-right: 150px;
}
.container-work-new{
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
}
.container-work-object{
  background-color: #212121;
  width: 100%;
  height: 800px;
  text-align: right;
  transition: 0.5s;
}
.container-work-object img{ 
  margin-top: 20px;
  transition: 0.5s;
}
.container-work-object:hover img{
  transition: 0.5s;
  transform: translate(0,-10px);
}
.container-work-object:hover{
  transition: 0.5s;
  display: inline-block;
  box-shadow: 0 14px 30px rgba(0,0,0,5), 0 10px 10px rgba(0,0,0,0.25);
  transform: translate(0,-5px);

}
.container-work-object-about{
  padding-top: 30px;
  padding-right: 50px;
  color: gray;
  font-size: 24px;
}
.container-work-object-text{
  padding-top: 20px;
  padding-right: 50px;
  color: #fff;
  font-size: 30px;
}
.container-work-img{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-left: 200px;
  padding-right: 200px;
  width: 100%;
  height: 600px;
  border-radius: 20px;
}
.example-shadow-3 {
  background: #e8e8e8;
  text-align: center;
}
/*
About
*/
.img-about{
  width: 400px;
  height: 600px;
  border-radius: 50px;
  margin-left: 300px;
  margin-right: 50px;
}
.img-text{
  display: flex;
  width: 100%;
  font-size: 24px;
  line-height: 40px;
  margin-top: -100px;
}
/*Card*/
.container-about-me{
  margin-top: 100px;
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.container-about-me .card{
  position: relative;
}
.container-about-me .card .face{
  width:300px;
  height: 200px;
  transition:.4s;
}
.container-about-me .card .face.face1{
  position: relative;
  background: #212121;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  border-radius: 20px;
}
.container-about-me .card:hover .face.face1{
  transform: translateY(0);
  box-shadow:
  inset 0 0 60px whitesmoke,
  inset 20px 0 80px #5265f6,
  inset -20px 0 80px #ffc4ff,
  inset 20px 0 300px #5265f6,
  inset -20px 0 300px #ffc4ff,
  0 0 50px #fff,
  -10px 0 80px #5265f6,
  10px 0 80px #ffc4ff;
}
.container-about-me .card .face.face1 .content{
  opacity: .2;
  transition:  0.5s;
  text-align: center;
}
.container-about-me .card:hover .face.face1 .content{
  opacity: 1;
}
.container-about-me .card .face.face1 .content i{
  font-size: 3em;
  color: white;
  display: inline-block;
}
.container-about-me .card .face.face1 .content h3{
  font-size: 1em;
  color: white;
  text-align: center;
}
.container-about-me .card .face.face1 .content a{
  transition: .5s;
}
.container-about-me .card .face.face2{
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.8);
  transform: translateY(-100px);
  border-radius: 23px;
}
.container-about-me .card:hover .face.face2{
  transform: translateY(-16%);
}
.container-about-me .card .face.face2 .content p, a{
  font-size: 10pt;
  margin: 0 ;
  padding: 0;
  color:#333;
}
.container-about-me .card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}
.container-about-me .card .face.face2 .content a:hover{
  background: #333 ;
  color: whitesmoke; 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
.prename{
  margin-top: 100px;
  margin-left: 300px;
  font-size: 40px;
}
.container-block{
  width: 100%;
  display: inline;
}
.container-block-iteam{
  float: left;
  width: 400px;
  height: 150px;
  background-color: #212121;
  border-radius: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  font-size: 24px;
}
/*blog*/
.geniral_text{
  margin-top: -100px;
  font-size: 72px;
  text-align: center;
}
.article{
  margin-top: 100px;
  text-align: center;
  background-color: #212121;
  border-radius: 20px;
  padding: 10px;
  width: 50%;
}
.object{
  font-size: 32px;
  margin-bottom: 10px;
}
.text{
  font-size: 24px;
  text-align: left;
}
/*content*/
.container-form{
  margin-bottom: 200px;
}
.inp{
  font-family: Vaaksy_Round;
  background-color: #212121;
  border-radius: 20px;
  margin-bottom: 30px;
  font-size: 48px;
  color: #fff;
  display: flex;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-right: 15px;
  outline: none;
  border: none;
}
.button{
  font-family: Vaaksy_Round;
  background-color: #212121;
  font-size: 60px;
  border-radius: 20px;
  margin-top: 50px;
  color: #fff;
  display: flex;
  padding-left: 10px;
  padding-top: 15px;
  transition: .05s linear;
  outline: none;
  border: none;
  transition: 0.5s;
}
.button:hover{
  transition: 0.5s;
  box-shadow: 0 14px 30px rgba(0,0,0,5), 0 10px 10px rgba(0,0,0,0.25);
  transform: translate(0,-5px);
}
.container-nain-text{
  font-size: 52px;
  text-align: center;
  margin-top: -100px;
  margin-bottom: 100px;
}
.icons img{
  display: inline;
  width: 65px;
  height: 65px;
  margin: 30px;
  transition: 0.5s;
}
.icons img:hover{
  transition: 0.5s;
  box-shadow: 0 14px 30px rgba(0,0,0,5), 0 10px 10px rgba(0,0,0,0.25);
  transform: translate(0,-5px);
}
.text-in-ditails{
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}
.text-in-ditails-title{
  animation-duration: 2.5s;
  animation-name: paint;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.container-work-img-in-disc{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-left: 200px;
  padding-right: 200px;
  width: 100%;
  border-radius: 20px;
}
.container-work-img-in-disc-goriz{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-left: 200px;
  padding-right: 200px;
  width: 70%;
  border-radius: 20px;
}
/*Footer*/
footer{
  margin-top: 20px;
  padding-bottom: 1px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
}
@media screen and (max-width: 1440px) {
  .logo{
    left: 25%;
  }
  .git{
    left: 64%;
  }
  .logo-big{
    right: 100px;
  }
  .container-work-object img{ 
    height: 70%;
  }
  .container-work-object{
    height: 700px;
  }
  .prename{
    margin-left: 50px;
  }
  .img-about{
    margin-left: 50px;
  }
  .container-work-img{
    padding-left: 100px;
    padding-right: 100px;
  }
  .container-work-img-in-disc{
    padding-left: 50px;
    padding-right: 50px;
  }
  .container-work-img-in-disc-goriz {
    width: 100%;
  }
  .container-blog{
    width: 100%;
    padding-top: 300px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-text-name{
    padding-left: 50px;
    font-size: 52px;
  }
  .main-text-dis{
    padding-left: 50px;
    font-size: 18px;
  }
  .lin-logo-git{
    margin-top: -52px;
  }
  .lin-logo{
    margin-top: -47px;
  }
}
@media screen and (max-width: 1024px) {
  nav{
    padding-left: 50px;
    padding-right: 50px;
  }
  .logo-big{
    width: 400px;
    height: 400px;
    right: 1px;
    top: 28%;
  }
  .container-work-object img{ 
    height: 70%;
  }
  .container-work-object{
    height: 700px;
  }
  .container-work {
    padding-left: 50px;
    padding-right: 50px;
  }
  .container-work-new {
    padding-left: 50px;
    padding-right: 50px;
  }
  .prename{
    margin-left: 0px;
  }
  .img-about{
    margin-left: 150px;
    margin-right: 200px;
  }
  .container-work-img-in-disc{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-work-img-in-disc-goriz {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
  .main-text-name{
    padding-left: 0px;
    margin-left: -90px;
    font-size: 52px;
  }
  .main-text-dis{
    padding-left: 0px;
    font-size: 18px;
    margin-left: -90px;
  }
  .img-text{
    display: block;
  }
  .container-about-me{
    margin-top: 100px;
    width: 500px;
  }
  .container-blog{
    width: 100%;
    padding-top: 300px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-work-img{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 40%;
  }
  .text-in-ditails{
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  nav{
    padding-left: 10px;
    padding-right: 10px;
  }
  .lin-logo-git{
    margin-top: -52px;
  }
  .lin-logo{
    margin-top: -47px;
  }
  .logo-big{
    right: 180px;
    top: 50px;
  }
  .main-text-name{
    padding-top: 200px;
    padding-left: 0px;
    font-size: 52px;
    text-align: center;
    margin-left: 0px;
  }
  .main-text-dis{
    padding-left: 0px;
    font-size: 18px;
    text-align: center;
    margin-left: 0px;
  }
  .container{
    width: 100%;
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container-work-img{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
  }
  .container-work {
    padding-top: 150px;
  }
  .img-about{
    margin-left: 170px;
    margin-right: 180px;
  }
  .container-blog{
    width: 100%;
    padding-top: 300px;
    padding-left: 0px;
    padding-right: 0px;
  }
  nav ul li:hover > ul {
    visibility: hidden;
  }
  .container-work-img-in-disc-goriz {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
}
@media screen and (max-width: 425px) {
  .logo-big{
    width: 390px;
    height: 390px;
    right: 15px;
    top: 10px;
  }
  .lin-logo{
    visibility: hidden;
  }
  .lin-logo-git{
    visibility: hidden;
  }
  .main-text-name{
    padding-top: 130px;
    font-size: 32px;
    line-height: 40px;
  }
  .container-work-img{
    visibility: hidden;
  }
  .container-work-object{
    height: 150px;
  }
  .container-work-object-text{
    text-align: center;
    padding-right: 0px;
  }
  .container-work-object-about{
    text-align: center;
    padding-right: 0px;
  }
  .container-work{
    padding-top: 100px;
  }
  .container-about-me{
    margin-top: 100px;
    width: 300px;
  }
  .img-about{
    margin-left: 0px;
    margin-right: 0px;
  }
  .container{
    padding-top: 200px;
  }
  .article{
    margin-top: 100px;
    text-align: center;
    width: 80%;
  }
  .inp{
    font-size: 24px;
  }
  .button{
    font-size: 40px;
  }
  .icons{
    margin-top: -150px;
  }
  .icons img{
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  footer{
    margin-top: 70px;
  }
  nav ul li{
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media screen and (max-width: 375px) {
  nav{
    height: 70px;
  }
  .logo-big{
    width: 350px;
    height: 350px;
    right: 10px;
    top: 10px;
  }
  .img-about{
    width: 350px;
    height: 550px;
  }
  .icons img{
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .main-text-name{
    line-height: 60px;
  }
  .container-work-object{
    height: 150px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .text{
    font-size: 18px;
    text-align: left;
  }
  .object {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .geniral_text {
    margin-top: -200px;
    font-size: 72px;
    text-align: center;
}
nav ul li{
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
}
@media screen and (max-width: 320px) {
  .logo-big{
    width: 300px;
    height: 300px;
    right: 10px;
    top: 50px;
  }
  .img-about{
    width: 300px;
    height: 500px;
  }
  .icons img{
    width: 50px;
    height: 50px;
    margin-left: 1px;
  }
  .main-text-name{
    line-height: 60px;
    padding-top: 100px;
  }
  .text{
    font-size: 16px;
    text-align: left;
  }
  .object {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .geniral_text {
    margin-top: -200px;
    font-size: 72px;
    text-align: center;
}
nav ul li{
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 10px;
}
}